* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 18px;
    background-color: #252525;
}

.wrap {
    border: 5px solid #42FBF2;
    overflow: hidden;
}

.marquee {
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
}

.marquee .name {
    list-style: none;
    width: 50%;
    white-space: nowrap;
    color: #f1f1f1;
    font-size: 5rem;
    flex-shrink: 0;
}

.name:nth-child(even) {
    color: #42FBF2; 
}


.first {
    animation: slide-one 15s infinite linear;
}

.second {
    animation: slide-two 8s infinite linear;
}

@keyframes slide-one {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes slide-two {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-50%);
    }
}